---
import Layout from "../layouts/Layout.astro";
import SocialLinks from "@/components/SocialLinks.astro";
import Link from "@/components/shared/Link.astro";
---

<Layout title="Portfolio">
  <main class="flex flex-col gap-9 md:gap-20">
    <article class="flex flex-col gap-8">
      <h1 class="text-3xl text-neutral-100">Hi, I’m Maxence 👋</h1>
      <h2 class="max-w-[60ch] leading-6">
        Lorem ipsum dolor sit amet consectetur. Et ultrices blandit neque eget
        mauris at lectus vitae duis. Elit amet pretium et donec. At facilisi
        duis aliquet vestibulum viverra dolor quam et.
      </h2>
      <SocialLinks />
    </article>

    <article>
      <header class="flex w-full flex-row justify-between gap-2">
        <h3 class="text-lg text-neutral-100">Latest posts</h3>
        <Link href="/posts" label="See all posts" isUnderline target="_self" />
      </header>
    </article>
  </main>
</Layout>
