---
import formatDate from "@/utils/formatDate";

type Props = {
  title: string;
  publishedAt: Date;
  description: string;
  slug: string;
};

const { title, publishedAt, description, slug } = Astro.props;
---

<a  
  class="group max-w-sm cursor-pointer rounded-none p-0 transition-all duration-300 hover:-translate-y-2"
  href={`/posts/${slug}`}
>  
  <div class="flex-col justify-between gap-2">     
    <p class="text-neutral-100">{title}</p>        
    <div class="gap-4">        
       <p>{formatDate(publishedAt)}</p>   
    </div>    
  </div>

      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        class="transition-all duration-300 group-hover:translate-x-1"
      >
        <path
          d="M5.25 12.75L12.75 5.25"
          stroke="#999999"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
        <path
          d="M5.25 5.25H12.75V12.75"
          stroke="#999999"
          stroke-linecap="round"
          stroke-linejoin="round"></path>
      </svg>
    </div>
  </div>

  <p class="truncate">
    {description}
  </p>
</a>
