---
import Link from "./shared/Link.astro";
import presentation from "@/data/presentation";
---

<ul role="list" class="flex flex-row gap-2">
  {
    presentation.socials.map((social, index) => (
      <>
        <li>
          <Link href={social.link} label={social.label} />
        </li>

        {presentation.socials.length - 1 !== index && <li>/</li>}
      </>
    ))
  }
</ul>
