---
import Link from "./shared/Link.astro";
---

<ul role="list" class="flex flex-row gap-2">
  <li>
    <Link href="/" label="Twitter" />
  </li>
  <li>/</li>

  <li>
    <Link href="/" label="LinkedIn" />
  </li>

  <li>/</li>

  <li>
    <Link href="/" label="Read.cv" />
  </li>

  <li>/</li>

  <li>
    <Link href="/" label="Github" />
  </li>
</ul>
